@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');



* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.Sidebar{
  position:fixed;
  top:100px;
  height:80%;
  
  right:5px;
  width:25%;
  border-radius: 6px;
  box-shadow: 10px 5px 15px black;
  background-color:grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.App {
  margin: auto;
  max-width: 90%;
}

.nav {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid black;
  box-shadow: -5px  5px 15px black;
  padding:15px;
}

.nav-right{
  width:20%;
  display: flex;
  justify-content: space-around;
}

select {
  width: 100px;
  padding: 15px;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 15px;
}

.bg-image {
  height: 500px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1631603090989-93f9ef6f9d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y3J5cHRvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  overflow: hidden;
  
}


.heading {
  color: white;
  text-align: center;
  font-size: 80px;
  letter-spacing: 2px;
  font-family: 'Exo 2', sans-serif;
}

.nav-left{
  
  font:40px;
}

input{
  
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height:50px;
 font-size: 30px;
}

input::placeholder{
  font-size:30px;
  
}

input:focus{
  outline:none ;
}

table{
  border: 3px solid black;
  width:100%;
  padding: 15px;
  margin-top: 20px;
}

td{
  border:1px solid black;
}

img{
  height:100%;
  object-fit: cover;
}


.coin-info{
  display: flex;
  width: 100%;
  height:80vh;
  margin-top:20px;

}

.sidebar{
width:35%;
border-right:3px solid black;
height:100% ;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.coin-chart{
  width: 70%;
  display:flex;
  flex-direction:column ;
  justify-content: center;

 align-items: center;
}